.a-text {
  margin: 0;
  padding: 0;
  @include style-font-size();
  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();

  &-nowrap {
    white-space: nowrap;
  }
}
