$font-sizes: (
  '14x16': (desktop:(fs: 14, lh: 16)),
  '14x18': (desktop:(fs: 14, lh: 18)),
  '14x21': (desktop:(fs: 14, lh: 21)),
  '16x20': (desktop:(fs: 16, lh: 20)),
  '16x24': (desktop:(fs: 16, lh: 24)),
  '20x24': (desktop:(fs:20, lh: 24)),
  '24x24': (desktop:(fs:24, lh: 24)),
  '24x28': (desktop:(fs:24, lh: 28)),
  '28x36': (desktop:(fs:28, lh: 36)),
  '38x56': (desktop:(fs:38, lh: 56)),
);

.a-text {
  margin: 0;
  padding: 0;
  @include style-font-size($font-sizes);
  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();

  &-nowrap {
    white-space: nowrap;
  }
}
