$icon-src: (
    'homeLightSlateGray': icon-path-generation('ic_home_light_slate_gray.svg'),
    'homeBlueCrayola': icon-path-generation('ic_home_blue_crayola.svg'),
    'boxLightSlateGray': icon-path-generation('ic_box_light_slate_gray.svg'),
    'boxBlueCrayola': icon-path-generation('ic_box_blue_crayola.svg'),
    'arrowDownSlateGray': icon-path-generation('ic_arrow_down_slate_gray.svg'),
    'arrowDownBlueCrayola': icon-path-generation('ic_arrow_down_lue_crayola.svg'), 
    'logoBlueCrayola': icon-path-generation('ic_logo_blue_crayola.svg'),
    'searchBlack': icon-path-generation('ic_search_black.svg'),
    'analyticSlateGray': icon-path-generation('ic_analytic_slate_gray.svg'),
    'analyticBlueCrayola': icon-path-generation('ic_analytic_blue_crayola.svg'), 
    'closeEerieBlack': icon-path-generation('ic_close_eerie_black.svg'), 
);

.a-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

    @each $icon,
        $val in $icon-src {
        &-#{$icon} {
            background-image: url($val);
        }
    }

    @include style-color();
    @include box-size();
}
