$size-icon: (
    '20x20': (w: 20, h: 20),
    '24x25': (w: 24, h: 25),
    '36x36': (w: 36, h: 36),
);

$icon-src: (
    'homeLightSlateGray': icon-path-generation('ic_home_light_slate_gray.svg'),
    'homeBlueCrayola': icon-path-generation('ic_home_blue_crayola.svg'),
    'boxLightSlateGray': icon-path-generation('ic_box_light_slate_gray.svg'),
    'boxBlueCrayola': icon-path-generation('ic_box_blue_crayola.svg'),
    'arrowDownSlateGray': icon-path-generation('ic_arrow_down_slate_gray.svg'),
    'logoBlueCrayola': icon-path-generation('ic_logo_blue_crayola.svg'),
    'searchBlack': icon-path-generation('ic_search_black.svg'),
    'analyticSlateGray': icon-path-generation('ic_analytic_slate_gray.svg'),
    'analyticBlueCrayola': icon-path-generation('ic_analytic_blue_crayola.svg'),
);

.a-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

    @each $size,
        $val in $size-icon {
        &-#{$size} {
            height: map-get($val, 'h')+ px;
            width: map-get($val, 'w') + px;
        }
    }

    @each $icon,
        $val in $icon-src {
        &-#{$icon} {
            background-image: url($val);
        }
    }
}
