.m-dropdownControl {
  $root: &;
  position: relative;

  .m-dropdownControl_dropdownList {
    width: rem(152);

    &_item {
      padding: rem(12);
      @include font-base(14, 16);
      &:hover {
        background-color: $alice-blue;
      }
    }
  }

  &_show {
    cursor: pointer;
  }

  &-disabled {
    #{$root}_show {
      cursor: default;
    }
  }

  &_dropdownList {
    position: absolute;
    border-radius: rem(8);
    width: rem(192);
    background-color: $white;
    right: 0;
    top: calc(100% + #{rem(8)});
    @include box-shadow;
    z-index: $z-member-control;

    &_item {
      cursor: pointer;
      padding: rem(8);
    }
  }
}
