.t-groupCreateForm {
  $root: &;
  background-color: $white;
  border-radius: rem(8);
  padding: rem(4) rem(16) rem(16) rem(16);

  &_header {
    @include adjust-flex(space-between, center);
    padding: rem(12) 0;
    border-bottom: rem(2) solid $white-smoke;
  }

  &_form {
    &_avatarView {
      @include adjust-flex(center, center);
      height: 100%;
        img {
          border-radius: 100%;
          width: rem(128);
          height: rem(128);
          aspect-ratio: 1 / 1;
        }
    }
    
    &_buttons {
      @include adjust-flex(flex-start, center);
      width: fit-content;
      margin: auto;
    }

    &_btnCancel {
      
    }

    &_btnCreate {
      margin-left: rem(8);
      background-color: $blue-crayola;
      &.a-button-disabled {
        background-color: $ash-grey;
      }
    }
  }
}
