.t-section {
  padding-top: rem(80);
  padding-bottom: rem(80);

  @include tablet-down {
    padding-top: rem(72);
    padding-bottom: rem(72);
  }

  @include mobile-down {
    padding-top: rem(50);
    padding-bottom: rem(50);
  }
  
  
  &-noPt {
    padding-top: 0;
  }

  &-noPb {
    padding-bottom: 0;
  }
}
