.t-section {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include tablet-down {
    padding-top: rem(32);
    padding-bottom: rem(32);
  }

  @include mobile-down {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  
  
  &-noPt {
    padding-top: 0;
  }

  &-noPb {
    padding-bottom: 0;
  }
}
