$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); // #000000
$charcoal: rgb(50, 64, 84); // #324054
$blue-crayola: rgb(45, 104, 254); // #2D68FE
$light-slate-gray: rgb(113, 131, 155); // #71839B
$alice-blue: rgb(239, 246, 255); // #EFF6FF

// Gradient
$black-12: rgba($black, 0.12);
$alice-blue-25: rgb($alice-blue, 0.25); // #EFF6FF
