// Primary Colors
$british-racing-green: rgb(7, 76, 49); // #074c31
$android-green: rgb(161, 192, 56); // #a1c038

// Text Colors
$raisin-black: rgb(38, 38, 38); // #262626
$davys-grey: rgb(89, 89, 89); // #595959
$gray-x11: rgb(191, 191, 191); // #bfbfbf
$white-smoke: rgb(245, 245, 245); // #f5f5f5
$snow: rgb(250, 250, 250); // #fafafa
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); //#000000
$lavender-gray: rgb(189, 196, 217); //#BDC4D9
$gainsboro: rgb(217, 217, 217); //#D9D9D9
$oxford-blue: rgb(1, 11, 52); //#010b34
$arsenic: rgb(67, 67, 67); // #434343
$deer: rgb(181, 134, 84); // #b58654
$taupe-gray: rgb(140, 140, 140); //#8c8c8c
$spanish-gray: rgb(158, 160, 160); // #9ea0a0

// Palette Colors
$amazon: rgb(57, 112, 90); // #39705a
$xanadu: rgb(106, 148, 131); // #6a9483
$aero-blue: rgb(207, 236, 225); // #cfece1
$green-ryb: rgb(118, 168, 38); // #76a826
$june-bud: rgb(180, 205, 96); // #b4cd60
$pale-goldenrod: rgb(217, 230, 175); // #d9e6af
$golden-brown: rgb(162, 104, 41); //#A26829
$tan: rgb(210, 179, 129); // #d2b381
$light-taupe: rgb(172, 146, 105); // #ac9269
$dark-liver-horses: rgb(87, 70, 55); // #574637

// Toast Colors
$toast-green: rgb(96, 168, 66); // #60a842
$sinopia: rgb(206, 49, 0); // #ce3100
$vivid-amber: rgb(206, 142, 0); // #ce8e00
$true-blue: rgb(0, 95, 206); // #005fce

// Others
$urobilin: rgb(223, 179, 37); // #dfb325
$antique-bronze: rgb(103, 88, 34); // #675822
$plum: rgb(161, 66, 150); // #a14296
$cyber-grape: rgb(87, 58, 116); // #573a74
$bg-white-smoke: rgb(246, 246, 246); // #f6f6f6
$cool-black: rgb(0, 43, 96); //#002B60
$metallic-sunburst: rgb(171, 119, 62); //#AB773E
$light-french-beige: rgb(199, 164, 127); // #C7A47F
$independence: rgb(60, 75, 118); //#3C4B76
$gainsboro: rgb(221, 221, 221); //#dddddd
$white-smoke2: rgb(248, 248, 248); //#f8f8f8
$bisque: rgb(249, 228, 197); //#F9E4C5
$dark-green: rgb(8, 52, 31); //#08341f
$rich-black: rgb(2, 3, 1); //#020301
$white-smoke3: rgb(250, 247, 244); //#FAF7F4
$floral-white: rgb(253, 249, 244); //#fdf9f4
$light-gray: rgb(209, 211, 212); //#d1d3d4
$anti-flash-white-4f9: rgb(241, 244, 249); //#f1f4f9
$glitter: rgb(231, 235, 240); // #e7ebf0
$silverSand: rgb(196, 196, 196); //#C4C4C4
$light-french-beige: rgb(206, 169, 113); // #cea971
$light-french-beige-7d: rgb(202, 172, 125); // #caac7d
$yellow-green: rgb(140, 197, 65); // #8CC541
$yellow-green2: rgb(138, 193, 65); // #8CC5141
$grizzly: rgb(137, 84, 27); //#89541b

// Neutral
$ghost-white: rgb(249, 250, 253); //#f9fafd
$anti-flash-white: rgb(241, 245, 249); //#f1f5f9
$columbia-blue: rgb(203, 213, 225); //#cbd5e1
$cadet-grey: rgb(148, 163, 184); //#94a3b8
$slate-gray: rgb(100, 116, 139); //#64748b

// Primary
$lemon-meringue: rgb(246, 231, 190); //#f6e7be
$pale-gold: rgb(223, 199, 139); //#dfc78b
$camel: rgb(195, 163, 113); //#c3a371
$cafe-au-lait: rgb(165, 136, 80); //#a58850
$spanish-bistre: rgb(137, 109, 54); //#896d36

// Secondary
$ucla-blue: rgb(79, 108, 148); //#4f6c94
$dark-cerulean: rgb(35, 72, 122); //#23487a
$dark-midnight-blue: rgb(11, 52, 107); //#0b346b
$space-cadet: rgb(29, 46, 93); //#1d2e5d
$oxford-blue: rgb(9, 27, 68); //#091b44

// Font
$white-smoke-8f8: rgb(248, 248, 248); // #f8f8f8
$spanish-gray: rgb(153, 153, 153); //#999999
$dim-gray: rgb(109, 110, 113); //#6d6e71
$jet-333: rgb(51, 51, 51); //#333333
$jet: rgb(47, 46, 47); //#2f2e2f

// Error
$lavender-blush: rgb(254, 242, 242); //#fef2f2
$bubble-gum: rgb(254, 202, 202); //#fecaca
$carmine-pink: rgb(239, 68, 68); //#ef4444
$carnelianrgb: rgb(185, 28, 28); //#b91c1c
$falu-red: rgb(127, 29, 29); //#7f1d1d

// Warning
$cosmic-latte: rgb(255, 251, 235); //#fffbeb
$yellow-crayola: rgb(253, 230, 138); //#fde68a
$orange-ryb: rgb(245, 158, 11); //#f59e0b
$windsor-tan: rgb(180, 83, 9); //#b45309
$sepia: rgb(120, 53, 15); //#78350f

// Success
$honeydew: rgb(236, 253, 245); //#ecfdf5
$magic-mint: rgb(167, 243, 208); //#a7f3d0
$green-crayola: rgb(16, 185, 129); //#10b981
$tropical-rain-forest: rgb(4, 120, 87); //#047857
$castleton-green: rgb(6, 78, 59); //#064e3b

// Overlays
$black0012: rgba($black, 0.012);
$black0016: rgba($black, 0.016);
$black0043: rgba($black, 0.043);
$black04: rgba($black, 0.4);
$black025: rgba($black, 0.25);
$black005: rgba($black, 0.05);
$black085: rgba($black, 0.85);
$black088: rgba($black, 0.08);
$black008: rgba($black, 0.08);
$black012: rgba($black, 0.12);
$black015: rgba($black, 0.15);
$black01: rgba($black, 0.1);
$black02: rgba($black, 0.2);
$camel02: rgba($camel, 0.2);
$camel05: rgba($camel, 0.5);
$xanadu02: rgba($xanadu, 0.2);
$white07: rgba($white, 0.7);
$white02: rgba($white, 0.2);
$white01: rgba($white, 0.1);
$cool-black04: rgba($cool-black, 0.4);
$dark-midnight-blue0: rgba(11, 52, 107, 0.6);
$dark-midnight-blue00: rgba(11, 52, 107, 0);
$dark-midnight-blue04: rgba($dark-midnight-blue, 0.4);
$dark-midnight-blue06: rgba($dark-midnight-blue, 0.6);
$glitter04: rgba($glitter, 0.4);
$white03: rgba($white, 0.3);
$chocolate-white: rgba(216, 221, 236, 0.4);
$golden-brown050: rgba($golden-brown, 0.5);

// Linear colors
$outstanding-number-linear: linear-gradient(180deg, $dark-midnight-blue0 0%, $oxford-blue 100%);
$camel-linear: linear-gradient(90deg, rgba($camel, 0) 0%, $bisque 50.52%, rgba($camel, 0) 100%);
$cool-black-linear: linear-gradient(to right, $cool-black 2%, rgba($cool-black, 0.25) 30%, transparent 35%, transparent 65%, rgba($cool-black, 0.25) 70%, $cool-black 98%);
$white-linear: linear-gradient(360deg, rgba($white, 0) 45.9%, $white 108.19%);
$dark-green-linear: linear-gradient(180deg, rgba($dark-green, 0) 27.85%, $rich-black 189.79%);
$oxford-dark-linear: linear-gradient(180deg, $oxford-blue 0%, rgba($dark-midnight-blue, 0) 100%);
$dark-midnight: linear-gradient(180deg, $dark-midnight-blue00 38.27%, $oxford-blue 79.08%), $dark-midnight-blue;
$camel-linear: linear-gradient(90.36deg, $camel 11.51%, $grizzly 86.03%);
