html,
body {
  font-family: $font-jost;
  overflow-x: hidden;
  margin: 0;

  @include scroll-bars(4, #436656a8, #1D1B1B)  
}

html {
  @include mobile-down {
    font-size: 12px;
  }

  scroll-behavior: smooth;
}

body {
  background-color: #1D1B1B;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; //issue click in mobile flash background highligh
}

button {
  &:focus {
    outline: none;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

[role='button'],
button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input {
  word-break: normal;
}

ul,
ol {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.hidden-animation {
  visibility: hidden;
}

.overflow-hidden {
  height: 100vh;
}

.grecaptcha-badge {
  visibility: hidden;
}


@each $offset in $offsets {
  @for $spacing from -20 through 100 {
    @if $spacing >= 0 {
      .u-m#{str-slice($offset, 0, 1)}-#{$spacing} {
        margin-#{$offset}: #{$spacing}px;
      }
      .u-p#{str-slice($offset, 0, 1)}-#{$spacing} {
        padding-#{$offset}: #{$spacing}px;
      }
    } @else {
      .u-m#{str-slice($offset, 0, 1)}-negative#{$spacing} {
        margin-#{$offset}: #{$spacing}px;
      }
    }
  }
}

@each $name, $value in $breakpoints {
  @each $offset in $offsets {
    @for $spacing from -20 through 100 {
      @if $spacing >= 0 {
        .u-m#{str-slice($offset, 0, 1)}-#{$name}-#{$spacing} {
          @media #{$value} {
            margin-#{$offset}: #{$spacing}px;
          }
        }

        .u-p#{str-slice($offset, 0, 1)}-#{$name}-#{$spacing} {
          @media #{$value} {
            padding-#{$offset}: #{$spacing}px;
          }
        }
      } @else {
        .u-m#{str-slice($offset, 0, 1)}-negative-#{$name}#{$spacing} {
          @media #{$value} {
            margin-#{$offset}: #{$spacing}px;
          }
        }
      }
    }
  }
}
