.a-input {
  $root: &; 
  $checkbox-size: 18;
  padding: rem(8) 0;

  &.checkbox {
    position: relative;
  }

  label + input {
    margin-top: rem(8);
  }

  &_label {
    @include font-base(14, 20);
    display: block;
    color: $black;
  }

  &_inputWrapper {
    position: relative;

    #{$root}_input {
      @include font-base(14, 20);
      width: 100%;
      font-weight: 400;
      outline: none;
      padding: rem(4);
      border: rem(1) solid $platinum;
      border-radius: rem(4);
    }

    #{$root}_icon {
      position: absolute;
      top: 0;
      right: rem(18);
      height: 100%;
      @include adjust-flex(center, center);
    }
  }

  &_error {
    @include font-base(14, 20);
    color: $rusty-red;
    padding: rem(4) 0 0 rem(12);
  }

  &-time {
    #{$root}_inputWrapper {
      @include adjust-flex(flex-start, center);
      margin: rem(-8);
      
      #{$root}_input {
        margin: rem(8);
      }
    }
  }

  // Variants
  &-auth {
    padding: 0;

    #{$root}_label {
      @include font-base(14, 20);
      color: $ufo-green;
      padding-left: rem(12);
    }

    #{$root}_input {
      @include font-base(14, 20);
      padding: rem(14) rem(18);
      border-radius: rem(18);
      color: $white;
      background-color: $dark-slate-gray;
      outline: none;
      border: 0;
  
      &::placeholder {
        color: $light-gray;
      }
    }
  }

  // Checkbox
  &.checkbox {
    padding: 0;
    width: rem($checkbox-size);
    height: rem($checkbox-size);

    #{$root}_input { 
      margin: 0;
      width: 0;
      height: 0;
    }
  }

  &_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: rem($checkbox-size);
    width: rem($checkbox-size);
    background-color: $dark-slate-gray;
    border-radius: rem(5);
    cursor: pointer;

    &::after {
      content: "";
      display: none;
      position: absolute;
      left: calc(#{$checkbox-size} / 25 * #{rem(9)});
      top: calc(#{$checkbox-size} / 25 * #{rem(5)});
      width: calc(#{$checkbox-size} / 25 * #{rem(5)});
      height: calc(#{$checkbox-size} / 25 * #{rem(10)});
      border: solid white;
      border-width: 0 calc(#{$checkbox-size} / 25 * #{rem(3)}) calc(#{$checkbox-size} / 25 * #{rem(3)}) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  // Number
  &-number {
    padding: 0;

    #{$root}_input {
      @include font-base(14, 18);
      border: rem(1) solid $platinum;
      border-radius: rem(8);
      outline: none;
      padding: rem(12) rem(8);
      width: 100%;
    }

    #{$root}_rows {
      position: absolute;
      right: rem(8);
      top: 0;
      height: 100%;
      @include adjust-flex(center, center);
      flex-direction: column;

      #{$root}_rowUp, #{$root}_rowDown {
        cursor: pointer;
      }
    }

  }
  &-labelInside {
    position: relative;
    #{$root}_input {
      margin-top: 0;
      padding-right: rem(56);
    }

    #{$root}_label {
      @include adjust-flex(center, center);
      @include font-base(14, 18);
      position: absolute;
      top: calc(50% - #{rem(10)});
      
      left: rem(28);
    }
  }

  &_input:checked ~ #{$root}_checkmark::after{
    display: block;
  }
  
}
