.m-searchInput {
  display: flex;
  position: relative;

  &_input {
    @include font-base(16, 20);
    flex-grow: 1;
    border: 0;
    color: $independence;
    outline: none;
    padding: rem(16) 0 rem(16) rem(24);

    &::placeholder {
      @include font-base(16, 20);
      color: $light-steel-blue;
    }

  }

  &_icon {
    @include adjust-flex(center, center);
    position: absolute;
    top: 0;
    height: 100%;
  }

  &_button {
    margin-left: rem(16);
  }
}
