.o-slideBar {
  $root: &;
  height: 100vh;
  width: rem(224);
  box-shadow: inset rem(-1) 0 0 rgba(33, 33, 33, 0.1);
  padding: rem(12);
  transition: all $transition linear;

  &-compact {
    width: rem(48);
    padding-left: rem(8);
    padding-right: rem(8);
  }

  &_title {
    @include adjust-flex(flex-start, center);
    cursor: pointer;
    padding: rem(12);
    overflow: hidden;
    transition: padding $transition linear;

    &_text {
      margin-left: rem(12);
      flex-wrap: nowrap;
      flex-grow: 1;
    }
  }

  &-compact &_title {
    padding-left: 0;
    padding-right: 0;
  }

  &_menuList {
    list-style: none;
    margin: rem(12) 0 0 0;
    padding: 0;

    #{$root}_menuItem ~ #{$root}_menuItem {
      margin-top: rem(12);
    }

    #{$root}_menuItem {
      position: relative;
      
      &_wrapper {
        transition: padding $transition linear;
      }

      &_head {
        @include adjust-flex(flex-start, center);
        flex-wrap: nowrap;
        cursor: pointer;
        border-radius: rem(4);
        padding: rem(12) rem(8) rem(12) rem(12);
        overflow: hidden;
        transition: all $transition linear;

        &:hover {
          & .a-icon, .a-text {
            color: $blue-crayola;
          }
        }

        &-active {
          background-color: $alice-blue;
          
          .a-icon, .a-text {
            color: $blue-crayola;
          }
        }
        
        &-hover {
          .a-icon, .a-text {
            color: $blue-crayola;
          }
        }
      }

      &_text {
        margin-left: rem(12);
        white-space: nowrap;
      }

      &_dropdownIcon {
        margin-left: auto;
        transition: transform $transition-short linear;

        &-openDropdown {
          transform: rotateZ(180deg);
        }
      }

      &_head-active {
        .a-icon, .a-text {
          color: $blue-crayola;
        }
      }

      &_dropdown {
        list-style: none;
        margin: 0;
      }

      &_subItem {
        cursor: pointer;
        
        .a-text {
          white-space: nowrap;
        }

        &:hover {
          .a-text{
            color: $blue-crayola;
          }
        }

        &-active {
          background-color: $alice-blue;
          .a-text {
            color: $blue-crayola;
          }
        }
      }

      &_subText {
        padding: rem(12) 0 rem(12) rem(28);
      }
    }
  }

  &-compact {
    #{$root}_menuItem {
      &_wrapper {
        padding: rem(6) 0;
      }

      &_head {
        padding: rem(6);
        
        &-dropdownActive {
          background-color: $alice-blue;
          
          .a-icon, .a-text {
            color: $blue-crayola;
          }
        }
      }

      &_icon-openDropdown .a-icon {
        color: $blue-crayola;
      }

      &_dropdown {
        position: absolute;
        left: calc(100% + #{rem(10)});
        top: rem(4);
        width: rem(200);
        background-color: $white;
        box-shadow: 0 rem(3) rem(6) rem(-4) $black-12, 0 rem(6) rem(6) 0 $black-08, 0 rem(9) rem(28) rem(8) $black-05;
        z-index: $z-slideBar;
        border-radius: rem(4);
        padding: rem(4) 0;
      }

      &_subText {
        padding: rem(12);
      }
    }
  }

}
