.o-slideBar {
  $root: &;
  padding: rem(20);

  @include adjust-flex(flex-start, center);
  flex-direction: column;
  width: rem(232);
  height: 100vh;
  background-color: $white;
  box-shadow: inset rem(-1) 0px 0px rgba(33, 33, 33, 0.1);
  transition: all $transition linear;

  &_tab {
    position: relative;
    &_label {
      @include adjust-flex(flex-start, center);
      flex-wrap: nowrap;
      padding: rem(12);
      cursor: pointer;
      border-radius: rem(4);
      transition: all $transition linear;
      overflow: hidden;

      #{$root}_tab_dropdownIcon-open {
        transform: rotateZ(180deg);

      }


      .a-text {
        margin-left: rem(16);
        flex-grow: 1;
        transition: width $transition linear;
        white-space: nowrap;
        overflow: hidden;
      }

      .a-icon {
        flex-shrink: 0;
      }

      &:hover {      
        background-color: $alice-blue;

        .a-text {
          color: $blue-crayola;
          font-weight: 500;
        }
      }

      &-active {
        background-color: $alice-blue;
        
        .a-text {
          color: $blue-crayola;
        }
      }
    }

    &_items {
      list-style: none;
      padding-left: rem(32);
    }
    
    &_item {
      cursor: pointer;
      padding: rem(8) 0;

      &:hover {
        .a-text {
          color: $blue-crayola;
        }
      }

      &-active {
        .a-text {
          color: $blue-crayola;
        }
      }
    }
    
  }

  &_title {
    @include adjust-flex(flex-start, center);
    width: 100%;
    padding: rem(8) rem(4);
    cursor: pointer;
    overflow: hidden;

    &_icon + &_text {
      margin-left: rem(12);
    }
  }

  &_list {
    list-style: none;
    width: 100%;
    margin-top: rem(16);

    #{$root}_item {
      margin-top: rem(12);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-compact {
    width: rem(60);
    padding-left: rem(8);
    padding-right: rem(8);
    
    #{$root}_tab_items {
      position: absolute;
      top: 50%;
      left: calc(100% + #{rem(12)});
      width: rem(160);
      background-color: $white;
      padding: rem(5);
      border-radius: rem(2);
      box-shadow: rem(4) rem(1) rem(8) rem(1) $black-12;
    }

    #{$root}_tab_item {
      padding: rem(8);
    }

    #{$root}_tab_label-tabActive {
      background-color: $alice-blue-25;
    }
  }
}
