.t-signUpForm {
  @include adjust-flex(center, center);
    
  &_wrapper {
    width: rem(460);
  }

  &_description {
    margin-top: rem(40);
  }

  &_form {
    &_field {
      margin-top: rem(32);
      
      &:first-child {
        margin-top: rem(36);
      }
    }

    &_button {
      width: 100%;  
      margin-top: rem(24);
      background-color: $ufo-green;
      padding: rem(12);

      &.a-button {
        margin-top: rem(32);
      }
    }
  }
}
