.yarl__thumbnails_thumbnail {
  border: 1px solid rgba(255, 255, 255, 0.526);  
}

.yarl__thumbnails_thumbnail_active {
  border: 2px solid #FFAD60;
}

.yarl__container {
  background-color: rgba(0, 0, 0, 0.877);
}

.yarl__thumbnails_container {
  background-color: rgba(0, 0, 0, 0.911);
}

.o-lightBoxBase {
}
