.t-mainLayout {
  display: flex;
  position: relative;
  
  &_slideBar {
    background-color: $white;
    z-index: $z-slideBar;
  }


  &_main {
    flex-grow: 1;
    z-index: $z-main;
    height: 100vh;
    overflow: auto;
    background-color: $anti-flash-white;
    @include scroll-bars(4, $border-thumb: 0);

    @include tablet-down {
      position: absolute;
      left: rem(48);
      width: calc(100% - #{rem(48)});
    }
  }
}
