.t-mainLayout {
  display: flex;
  position: relative;
  
  &_slideBar {
    background-color: $white;
    z-index: $z-slideBar;
  }


  &_main {
    flex-grow: 1;
    z-index: $z-main;
    @include mobile-down {
      position: absolute;
      left: rem(60);
      width: 100%;
    }
  }
}
