.o-container {
  margin-left: auto;
  margin-right: auto;
  @include break-min($standard-viewport) {
    max-width: $standard-viewport;
    padding-left: rem(86);
    padding-right: rem(86);
  }
  
  max-width: 98%;
}
