.t-memberManager {
  $root: &;

  padding: rem(12);
  background-color: $white;

  &_title { 
    padding: rem(24) 0;
  }

  &_controlBar {
    @include adjust-flex(flex-start, center);

    &_search {
      flex-grow: 1;

      .m-searchInput_input {
        border: rem(2) solid $anti-flash-white;
        @include font-base(14, 18);
        padding: rem(12);
      }
    }
  }
    
  &_button {
    margin-left: rem(24);

    .a-button {
      padding: rem(12);
    }
  }

  &_memberTable {
    &_table {
      margin-top: rem(20);
      width: 100%;

      th, td {
        padding: rem(16) rem(4);
        border-bottom: rem(1) solid $isabelline;
      }
      th {
        text-align: left;
      }

      #{$root}_memberRow {
        &-disabled {
          opacity: 25%;
        }
      }
    }

    #{$root}_memberMenu {
      @include adjust-flex(flex-start, center);
      
      &_button {
        background-color: red;  
        cursor: pointer;
      }
    }
  }

  &_tableFooterControl {
    @include adjust-flex(space-between, center);
    margin-top: rem(22);

    &_rowShow {
      @include adjust-flex(flex-start, center);

      #{$root}_rowShowLabel {
        @include font-base(14, 20);
      }

      #{$root}_rowShowInput {
        width: rem(112);
      }

      .a-input {
        margin-left: rem(12);
        
        &_input, &_label {
          color: $outer-space;
        }
      }
    }
  }
}
